body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 44px;
  background: #7b2cbf;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
button {
  width: 20px;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: none;
}
.part1,
.part2 {
  display: flex;
  gap: 15px;
}
.profile {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: url("https://avatars.githubusercontent.com/u/98334884?v=4");
  background-size: contain;
}
