@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
header {
  width: 100%;
  height: 44px;
  background: #7b2cbf;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
button {
  width: 20px;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: none;
}
.part1,
.part2 {
  display: flex;
  gap: 15px;
}
.profile {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: url("https://avatars.githubusercontent.com/u/98334884?v=4");
  background-size: contain;
}
header > h1 {
  color: white;
  margin: 0;
}

.sidebar {
  width: 250px;
  flex: 1;
  background-color: rgba(128, 128, 128, 0.103);

  display: flex;
  flex-direction: column;
  transition: 0.6s;
}
.sidebar.inactive {
  transform: translateX(-300px);
}
.sidebar-btn {
  transition: 0.6s;
}
.sidebar-btn.inactive {
  transform: rotate(90deg);
}
.sidebar > div {
  padding-left: 16px;
  padding-right: 16px;
}
.due {
  flex: 1;

  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.projects {
  flex: 8;
}
.sidebar > div > button {
  font-size: 14px;
  width: 220px;
  border-radius: 4px;
  padding: 7px;

  display: flex;
  gap: 8px;
}
.sidebar > div > button:hover {
  background-color: rgba(128, 128, 128, 0.116);
  cursor: pointer;
}
.today-icon,
.upcoming-icon {
  width: 17px;
}
.today-icon {
  filter: invert(36%) sepia(14%) saturate(4743%) hue-rotate(130deg)
    brightness(91%) contrast(101%);
}
.upcoming-icon {
  filter: invert(65%) sepia(63%) saturate(6667%) hue-rotate(202deg)
    brightness(100%) contrast(102%);
}
.projects > h4 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 17px;
  padding: 7px;
  padding-left: 0;

  display: flex;
  justify-content: space-between;
  border-bottom: black solid 1px;
}
.add-project {
  width: 17px;
}
.add-project:hover {
  cursor: pointer;
}
label {
  display: flex;
  flex-direction: column;
}
.popup {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 300ms ease-in-out 550ms;
  border-radius: 7px;
  height: 180px;
  z-index: 10;
  min-width: 25%;
  padding: 0 15px 0 15px;
  background: white;

  display: flex;
  flex-direction: column;
}
.overlay {
  position: fixed;
  opacity: 1;
  transition: 200ms ease-in-out 550ms;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
form {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 35px;
}
.buttons > button {
  width: 65px;
  padding: 7px;
  border-radius: 4px;
}
.buttons > .add {
  background-color: #7b2cbf;
  color: white;
}
.buttons > .cancel {
  background-color: rgba(128, 128, 128, 0.116);
}
